<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        text-align: center;
        padding: 10px;
        background-color: #24aca4; /* Corrigido para background-color */
        color: white;
    }

    /* Remove a navegação */
    nav {
        display: none;
    }

    main {
        padding: 20px;
    }

    .conteudo {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    @media (max-width: 768px) {
        .conteudo {
            padding: 10px;
        }
    }

    /* Ajustes para dispositivos móveis (até 600px de largura) */
    @media (max-width: 600px) {
        header {
            padding: 5px;
        }

        h1 {
            font-size: 1.2em;
            margin-bottom: 3px;
        }

        h2 {
            font-size: 1.1em;
        }

        .conteudo {
            font-size: 0.9em;
        }
    }

    /* Estilos para a seção "Sobre" */
    #sobre {
        background: #f0f0f0;
        padding: 20px;
        margin-top: 30px;
        border-radius: 8px;
    }

    #sobre h2 {
        color: #24aca4; /* Cor atualizada */
        border-bottom: 2px solid #24aca4; /* Cor atualizada */
        padding-bottom: 10px;
    }

    #sobre p {
        line-height: 1.6;
        color:#000000;
    }

    #sobre ul {
        list-style: none;
        padding: 0;
    }

    #sobre li {
        margin-bottom: 5px;
    }

    #sobre strong {
        font-weight: bold;
        color:#000000;
    }
    
    .integrante-card h3 {
        color:#000000;
    }
    
    .integrante-card p{
        color:#000000;
    }
</style>